$primary-color-dark: #5d4037;
$primary-color: #795548;
$primary-color-light: #d7ccc8;
$primary-color-text: #ffffff;
$accent-color: #9e9e9e;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
