@import "_palette.scss";
@import "btn.scss";
html,
body {
  font-size: 62.5%;
  background-color: $primary-color-dark;

  .header-name {
    background-color: $primary-color-text;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
  }
  .header-name:hover {
    transition: 0.5s linear;
    transform: scaleY(0.3);
  }
  .button {
    background-color: yellow;
    color: black;
    padding: 1.5rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border: 1rem solid black;
    display: flex;
    justify-content: center;
  }
  .button:hover {
    transform: rotate(2deg);
    transition: 0.3s;
  }
  .btn-yellow {
    border: 1rem solid grey;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-size: 2rem;
  }
  .btn-yellow:hover {
    transform: scale(0.75);
    transition: 0.3s;
  }
}

.img {
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.05);
}

.img2 {
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  width: 15%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img2:hover {
  transition: 0.5s linear;
  transform: skew(20deg);
}
